<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 p-lg-2 p-sm-0 m-lg-2 m-sm-0 card" [style]="'overflow-y: scroll;overflow-x: hidden; max-height:500px'">
      <h1>Search results</h1>
        <app-results></app-results>
      </div>
      <div class="col-lg-3 p-lg-2 p-sm-0 m-lg-2 m-sm-0 card" [style]="'overflow-y: scroll;overflow-x: hidden; max-height:500px'">
        <h1>My watch list</h1>
        <app-watchlist></app-watchlist>
      </div>
    </div>
</div>
